<launch>

    <!-- Launch Stereo Camera Node-->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="enable_infra1" value="true" />
        <arg name="enable_infra2" value="true" />
    </include>
    
    <!-- Launch LD14 Lidar Sensor Node-->
    <include file="$(find ldlidar_sl_ros)/launch/ld14.launch"/>

    <!-- Launch RTAB-Map Stereo Sync Nodelet-->
    <arg name="rate"  default="5"/>
    <arg name="approx_sync" default="false" /> 
    <arg name="stereo_sync" default="true"/>

    <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager"/>
    <node if="$(arg stereo_sync)" pkg="nodelet" type="nodelet" name="stereo_sync" args="load rtabmap_ros/stereo_sync nodelet_manager" output="screen">
        <param name="compressed_rate"  type="double" value="$(arg rate)"/>
        <param name="approx_sync"      type="bool"   value="$(arg approx_sync)"/>

        <remap from="left/image_rect"        to="/camera/infra1/image_rect_raw"/>
        <remap from="right/image_rect"       to="/camera/infra2/image_rect_raw"/>
        <remap from="left/camera_info"       to="/camera/infra1/camera_info"/>
        <remap from="right/camera_info"      to="/camera/infra2/camera_info"/>

        
        <remap from="rgbd_image"      to="rgbd_image"/>
    
    </node>



</launch>